@model List<AciSozlukWebApp.Models.Member>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <div class="float-start">
                <h3><strong>Üye Listesi</strong></h3>
            </div>
            <div class="float-end">

            </div>
        </div>
        <div class="mt-2 p-2">
            @if (TempData["Mesaj"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Mesaj"]
                </div>
            }
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Seviye</th>
                            <th>Kullanıcı Adı</th>
                            <th>Mail Adresi</th>
                            <th>Cinsiyet</th>
                            <th>Doğum Tarihi</th>
                            <th>Profil Resmi</th>
                            <th>Kayıt Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in Model)
                        {
                            <tr>
                                <td>@member.ID</td>
                                <td>@member.MemberRole.Name</td>
                                <td>@member.NickName</td>
                                <td>@member.Email</td>
                                <td>@member.Gender</td>
                                <td>@member.Birthday.ToShortDateString()</td>
                                <td>
                                    <img src="~/Assets/MemberImages/@member.Image" width="150" height="150" />
                                </td>
                                <td>@member.CreationTime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

