@model List<AciSozlukWebApp.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <div class="float-start">
                <h3><strong>Kategori Listesi</strong></h3>
            </div>
            <div class="float-end">
                <a href="@Url.Action("Create","Category")" style="text-decoration:none">Yeni Ekle</a>
                <a href="@Url.Action("Deleted","Category")" style="text-decoration:none">Silinenlere Git</a>
            </div>
        </div>
        <div class="mt-2 p-2">
            @if (TempData["Mesaj"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Mesaj"]
                </div>
            }
        </div>
        <div class="card-footer">
            @Model.Count satır listeleniyor
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kategori Adı</th>
                            <th>Oluşturma Tarihi</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.ID</td>
                                <td>@category.CategoryName</td>
                                <td>@category.CreationTime</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Category", new {id= category.ID})" style="text-decoration:none">Düzenle</a>
                                    <a href="@Url.Action("Delete", "Category", new { id = category.ID })" style="text-decoration:none">Kaldır</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



