<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/ManagerPanel/Assets/css/dashboard.css" rel="stylesheet" />
    <link href="~/Source/bootstrap-5.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="navbar sticky-top bg-dark p-2 shadow" data-bs-theme="dark">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-danger fw-bold" href="@Url.Action("Index","Home")">Acı Sözlük Panel Kontrol</a>
            <a href="@Url.Action("LogOut", "ManagerLogin")" class="btn btn-danger btn-sm">Güvenli Çıkış</a>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse show">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Yöneticiler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Member")">Üyeler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Başlıklar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Category")">Kategoriler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Yazılar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Şikayetler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "FeedBack")">Geri Bildirimler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Yorumlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ayarlar</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/Source/bootstrap-5.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Source/bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
