@model AciSozlukWebApp.Models.ViewModels.MemberLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Source/bootstrap-5.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center bg-danger text-white">
                        <h4><strong>Üye Girişi</strong></h4>
                    </div>
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/Areas/ManagerPanel/Assets/images/AciBiber.jpg" style="width:250px;" />
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            if (TempData["Mesaj"] != null)
                            {
                                <div class="alert alert-warning">
                                    @TempData["Mesaj"]
                                </div>
                            }
                            <div class="mb-3">
                                @Html.TextBoxFor(m => m.NickName, new { @class = "form-control", placeholder = "Kullanıcı Adınız", id = "User" })
                                @Html.ValidationMessageFor(m => m.NickName, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifreniz", id = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <br />
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger">Oturumu Aç</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Source/bootstrap-5.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Source/bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
